.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overviewContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 10%;
}

@media screen and (max-width: 1280px) {
  .overviewContainer {
    flex-direction: column;
    padding: 2rem;
    text-align: center;
  }
}


@media screen and (max-width: 1280px) and (min-width: 966px) {
  .overviewImage {
    width: 75%;
  }
}


.overviewTitle {
  font-size: 28pt;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 55px;
  font-style: italic;
}

.overviewText {
  font-size: 15pt;
  margin-bottom: 55px;
  text-align: justify;
}

.overviewItem {
  padding: 3rem;
  text-align: center;
}

.overviewItemText {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .overviewItem {
    padding: 1rem;
  }

  .overviewItemText {
    width: 75%;
  }
}
