/* stylelint-disable max-nesting-depth, selector-max-compound-selectors */
.home-page {
  background: var(--chakra-colors-gray-300);
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow: hidden;
}

.chat-box {
  background: var(--chakra-colors-white);
  border-left: 1px solid var(--chakra-colors-gray-300);
  border-right: 1px solid var(--chakra-colors-gray-300);
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  height: 100%;

  .chat-header {
    background: var(--chakra-colors-gray-100);
    border-bottom: 1px solid var(--chakra-colors-gray-300);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .chat-content {
    display: grid;
    gap: 1rem;
    grid-auto-rows: min-content;
    overflow-y: scroll;
    padding: 1rem;

    .message {
      border-radius: 25px;
      padding: 1rem;

      &.received {
        background: var(--chakra-colors-gray-100);
        border: 1px solid var(--chakra-colors-gray-300);
        border-bottom-right-radius: 0;
        margin-left: 20%;
      }

      &.sent {
        background: var(--chakra-colors-blue-100);
        border: 1px solid var(--chakra-colors-blue-300);
        border-bottom-left-radius: 0;
        margin-right: 20%;
      }
    }

    .message-container {
      margin-left: 20%;
    }
  }

  .chat-input {
    align-items: center;
    background: var(--chakra-colors-gray-400);
    border-top: 1px solid var(--chakra-colors-gray-300);
    display: grid;
    gap: 1rem;
    grid-template-columns: 50px auto 50px;
    padding: 1rem;
    position: relative;

    .chat-context-actions-container {
      display: grid;
      gap: 1rem;
      grid-auto-columns: minmax(160px, auto);
      grid-auto-flow: column;
      grid-column: 2;
      grid-template-columns: repeat(auto-fill, minmax(160px, auto));
      overflow-x: auto;
    }

    button {
      animation: slidein 0.7s forwards;
      border-radius: 25px;
      grid-row: 1;
      padding: 1rem;
    }

    .mic-overlay {
      display: flex;
      flex-flow: column;
      grid-column: 3;
      justify-content: center;

      &.recording {
        &::before {
          background: #fff;
          content: "";
          height: 100%;
          left: 0;
          position: fixed;
          top: 0;
          transition: all 0.5s ease-in-out;
          width: 100%;
        }

        > button {
          background: var(--chakra-colors-red-400);
        }
      }
    }
  }
}

@keyframes slidein {
  from {
    left: 100%;
    opacity: 0;
    position: relative;
  }

  to {
    left: 0%;
    opacity: 1;
  }
}
